@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo{
  width: 17rem;
  margin: 0 auto;
  border-radius: 50%;
}

.cards-product{
    display: flex;
    gap: 2rem;
}

.card-product{
  padding: 2rem;
  background-color: rgba(18, 18, 165, 0.516);
  border-radius: 9%;
}

.card-product h3, 
.card-product p{
  background-color: rgba(18, 18, 165, 0.516); 
  margin-bottom: 0.9rem;
  padding: 0.8rem;
  text-align: center;
  color: rgba(196, 205, 227, 0.879);
}

.add-cart{
  background-color: green;
  width: 100%;
  color: antiquewhite;
  padding: 0.5rem;
  /* pointer-events: painted; */
}

.btn-buy{
    background-color: green;
    width: 80%;
    color: antiquewhite;
    padding: 0.5rem;
    margin-top: 1rem;
}

.msg{
  color: white;
  margin: 0 auto;
}

.btn-opp{
  background-color: rgba(2, 53, 123, 0.598);
  width: 3rem;
  padding: 1rem;
  border-radius: 50%;
  color: rgb(81, 137, 137);
}

.cart-summary{
  background-color: rgb(25, 75, 167);
  padding: 2rem;
  text-align: center;
  gap: 2rem;
  margin-top: 1.5rem;
  color: rgb(126, 147, 165);
  width: 75%;
}

.div-total{
  background-color: rgb(12, 55, 210);
  padding: 0.5rem;
  margin-top: 1rem;
  width: 50%;

}

.cart-products{
  margin-top: 1rem;
}

.products{
  display: flex;
  gap: 2rem;
}

.products p{
  margin-top: 1.4rem;
}