@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo{
  width: 17rem;
  margin: 0 auto;
  border-radius: 50%;
}

.cards-product{
    display: flex;
    gap: 2rem;
}

.card-product{
  padding: 2rem;
  background-color: rgba(18, 18, 165, 0.516);
  border-radius: 9%;
}

.card-product h3, 
.card-product p{
  background-color: rgba(18, 18, 165, 0.516); 
  margin-bottom: 0.9rem;
  padding: 0.8rem;
  text-align: center;
  color: rgba(196, 205, 227, 0.879);
}

.btn-buy{
  background-color: green;
  width: 100%;
  color: antiquewhite;
  padding: 0.5rem;
  /* pointer-events: painted; */
}

.msg{
  color: white;
  margin: 0 auto;
}